body {
    font-family: 'Poppins', sans-serif;
}


/* NAVBAR */

.navbar {
    background: rgba(146, 3, 3, 0.9);
}

.navbar-brand {
    font-weight: 800;
    letter-spacing: 1px;
}

.nav-link {
    color: white !important;
}


/* HERO */

.hero {
    height: 100vh;
    /* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://images.unsplash.com/photo-1550547660-d9450f859349') center/cover no-repeat; */
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://images.unsplash.com/photo-1528605248644-14dd04022da1') center/cover no-repeat;
    display: flex;
    align-items: center;
    color: white;
    text-align: center;
}

.hero h1 {
    font-size: 3.5rem;
    font-weight: 800;
}

.btn-warning {
    background-color: #ffb703;
    border: none;
    font-weight: 600;
}

.btn-warning:hover {
    background-color: #fb8500;
}


/* CARDS PROMOCIONES */

.card {
    border-radius: 15px;
    overflow: hidden;
    transition: 0.3s ease;
}

.card-img-top {
    height: 350px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
}

.price-badge {
    background: #d62828;
    font-size: 1rem;
    padding: 8px 15px;
    border-radius: 30px;
}


/* CTA SECTION  FOOTER */

.cta {
    /* background: #111; */
    background: rgba(146, 3, 3, 0.9);
    color: white;
    padding: 60px 0;
}

footer {
    /* background: #000; */
    background: rgba(146, 3, 3, 0.9);
}

.price {
    color: #d62828;
    font-weight: 700;
    font-size: 1.2rem;
}

.price_promo {
    font-size: 1.5rem;
    font-weight: 800;
    color: #ffb703;
}


/* PEDIDOS MENU */

.form-container {
    max-width: 600px;
    max-height: 1000px;
    margin: auto;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remove-btn {
    cursor: pointer;
    color: #d62828;
    font-weight: bold;
}

.card-product {
    border-radius: 15px;
    transition: 0.3s;
}

.card-product:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.product-img {
    height: 180px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.qty-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.cart-box {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.form-box {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

#contenido_pedido {
    margin-top: 5%;
}