body {
    padding-top: 56px;
    background: #f4f6f9;
}

.navbar {
    background: #111827 !important;
}

.sidebar {
    position: fixed;
    top: 56px;
    left: 0;
    width: 220px;
    /* height: 100%; */
    height: calc(100vh - 60px);
    background: #111827;
    padding-top: 20px;
    transition: 0.3s;
    overflow-y: auto;
    transition: all 0.3s ease;
    z-index: 10;
}

.sidebar a {
    display: block;
    padding: 12px 20px;
    color: white;
    text-decoration: none;
}

.sidebar a:hover {
    background: #343a40;
}

.submenu a:hover {
    background: #0c64bd;
}

.content {
    margin-left: 220px;
    padding: 20px;
    transition: 0.3s;
    margin-bottom: 30px;
}

.sidebar.collapsed {
    left: -220px;
}

.content.full {
    margin-left: 0;
}

.notificaciones {
    width: 300px;
    max-height: 350px;
    overflow-y: auto;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0px;
    /* mismo ancho del sidebar */
    height: 50px;
    width: 100%;
    /* width: calc(100% - 260px); */
    background: #111827;
    color: #cbd5e1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border-top: 1px solid #1f2937;
    /* z-index: -100; */
}


/* SUBMENU EN DROPDOWN */


/* 
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 100%;
    left: 0;
    margin: 0;
    display: none;
}

.dropdown-submenu.show>.dropdown-menu {
    display: block;
} */


/* BOTON TOGGLE SWITCH */


/* Contenedor del switch */

.toggle-switch {
    display: flex;
    align-items: center;
    gap: 10px;
}


/* Ocultar checkbox real */

.toggle-switch input[type="checkbox"] {
    display: none;
}


/* Label que contiene el switch y el texto */

.toggle-switch label {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}


/* Caja del switch */

.toggle-switch .switch {
    width: 50px;
    height: 25px;
    background-color: #dc3545;
    /* rojo por defecto */
    border-radius: 25px;
    position: relative;
    transition: background-color 0.3s;
}


/* Botón interno */

.toggle-switch .switch::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 21px;
    height: 21px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}


/* Estado activado */

.toggle-switch input:checked+label .switch {
    background-color: #28a745;
    /* verde cuando está activo */
}

.toggle-switch input:checked+label .switch::before {
    transform: translateX(25px);
}


/* Texto al lado */

.switch-label {
    font-weight: 600;
    color: #28a745;
    transition: color 0.3s;
}


/* Texto rojo cuando está desactivado */

.toggle-switch input:not(:checked)+label .switch-label {
    color: #dc3545;
}