body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f4f6f9;
}

.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #b91307;
    color: #fff;
    transition: all 0.3s;
    overflow-y: auto;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    /* background: #0906c2; */
    background: #e9544f;
    color: #fff;
}

.sidebar .active,
.sidebar a.active:hover {
    background: #f2f1f5;
    color: #ac0707;
}


/* Hover solo cuando está activo */

.sidebar a.active:hover {
    background: #f2f1f5;
    color: #ac0707;
}

.content {
    margin-left: 250px;
    transition: all 0.3s;
    padding: 0px;
}

.content-center {
    transition: all 0.3s;
    padding: 10px;
}

.collapsed-sidebar {
    margin-left: 70px !important;
}

.sidebar.collapsed {
    width: 70px;
}

.sidebar.collapsed a {
    text-align: center;
    padding: 15px 0;
}

.sidebar.collapsed a span {
    display: none;
}

.header {
    background: #b91307;
    color: #fff;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}


/* Color personalizado para íconos y botón */

.icons a {
    color: #fff;
    /* tu color deseado */
    text-decoration: none;
    /* para enlaces <a> */
}


/* Mantener color al hacer hover o clic */

.custom-btn i:hover,
.icons i:hover,
.icons a:hover {
    color: #f1e206;
    /* mismo color que definiste */
}

.card-custom {
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(248, 229, 229, 0.123);
}


/* ESTILOS DE SUBMENU */

.sidebar ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.sidebar .submenu {
    max-height: 0;
    /* oculto por defecto */
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding-left: 15px;
}


/* Icono del submenú */

.sidebar a.has-submenu i.float-end {
    transition: transform 0.3s;
}


/* Girar icono cuando se abre */

.sidebar a.has-submenu.open i.float-end {
    transform: rotate(180deg);
}

.custom-btn {
    color: rgb(253, 250, 250);
    border: 1px solid rgb(245, 239, 239);
    background-color: rgb(214, 9, 9);
    /* blanco de fondo */
}


/* Hover: fondo blanco sólido con texto negro */

.custom-btn:hover {
    background-color: rgb(247, 241, 241);
    /* fondo negro */
    border: 1px solid rgb(245, 239, 239);
    color: rgb(224, 10, 10);
    /* texto blanco */
}

.btn-recordar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid #0d6efd;
    /* azul Bootstrap */
    background-color: transparent;
    color: #0d6efd;
    font-size: 24px;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-recordar:hover {
    background-color: #0d6efd;
    color: #fff;
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.btn-recordar:active {
    transform: scale(0.95);
}

.tooltip-inner {
    color: #fff;
    /* color del texto */
    background-color: #b91307;
    /* fondo blanco */
    border: 1px solid rgb(243, 239, 239);
    /* borde rojo */
}

.tooltip.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: rgb(247, 241, 241);
    /* color de la flechita hacia arriba */
}

.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: red;
}

.tooltip.bs-tooltip-start .tooltip-arrow::before {
    border-left-color: red;
}

.tooltip.bs-tooltip-end .tooltip-arrow::before {
    border-right-color: red;
}

.card-custom-title {
    background-color: #dc3545;
    /* Rojo Bootstrap */
    color: white;
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 20px;
}

.card-custom-c {
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.card-custom-c:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}


/* HEADER ADMIN */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 15px;
    background-color: #b91307;
}

.header h1 {
    flex: 1 1 auto;
    margin: 0 15px;
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header .icons {
    display: flex;
    align-items: center;
    gap: 15px;
}


/* Botón custom */

.custom-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Responsive */

@media (max-width: 576px) {
    .header h1 {
        font-size: 1rem;
        margin: 10px 0;
    }
    .header {
        flex-direction: column;
        align-items: flex-start;
    }
    .header .icons {
        margin-top: 5px;
    }
}


/* Estilos para tablas */

.card-custom-t {
    background-color: #dc3545;
    /* Rojo Bootstrap */
    color: white;
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 20px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    background-color: #dc3545 !important;
    color: white !important;
    size: 20px;
    border-radius: 50% !important;
    margin: 0 3px;
    padding: 5px 10px;
    border: none !important;
    cursor: pointer;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background-color: #b02a37 !important;
}

.dataTables_wrapper .dataTables_filter input {
    border-radius: 20px;
    padding: 5px 10px;
    border: 1px solid #dc3545;
}

.dataTables_wrapper .dataTables_length select {
    border-radius: 10px;
    border: 1px solid #dc3545;
    width: auto;
    padding: 10px;
}

table.dataTable {
    border-radius: 12px;
    overflow: hidden;
    background-color: white;
}

.table-container {
    overflow-x: auto;
    padding: 10px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.subscriber-count {
    font-weight: bold;
    color: #dc3545;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    background-color: #dc3545 !important;
    color: white !important;
    border-radius: 50% !important;
    margin: 0 3px;
    padding: 5px 10px;
    border: none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background-color: #2ab06d !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background-color: #d39692 !important;
}

.dataTables_wrapper .dataTables_filter input {
    border-radius: 20px;
    padding: 5px 10px;
    border: 1px solid #dc3545;
}

.dataTables_wrapper .dataTables_length select {
    border-radius: 10px;
    border: 1px solid #dc3545;
    padding: 5px;
}

table.dataTable {
    border-radius: 12px;
    overflow: hidden;
    background-color: white;
}

.table-container {
    overflow-x: auto;
    padding: 10px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.subscriber-count {
    font-weight: bold;
    color: #dc3545;
}

.dataTables_wrapper .dataTables_length select:focus {
    outline: none;
    border-color: var(--primary-color) !important;
    box-shadow: 0 0 0 0.2rem rgba(228, 14, 6, 0.25) !important;
}


/* PERFILES */

.profile-card {
    max-width: 800px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}


/* .profile-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #0d6efd;
} */

.btn-save {
    background-color: #c00404;
    color: #fff;
}

.btn-save:hover {
    background-color: #fff;
    color: #c00404;
    border-color: #c00404;
}


/* .card {
      border: none;
      border-radius: 15px;
    }
    .card-title {
      font-weight: bold;
      font-size: 1.5rem;
    }
    .table thead {
      background: linear-gradient(90deg, #dc3545, #a80707) !important;
      color: #fff;
    }
    .table-hover tbody tr:hover {
      background: rgba(220,53,69,0.1);
      transition: 0.3s;
    } */

#tablaDatos thead.custom-thead {
    background-color: #ff0000 !important;
    color: white !important;
}


/* Estilos para notificaciones */

.notifications-container {
    max-width: 900px;
    margin: 40px auto;
}

.notification-card {
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    background: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.notification-card:hover {
    transform: scale(1.01);
}

.notification-card:hover {
    transform: translateX(4px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.notification-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin-right: 15px;
}

.notification-text {
    flex: 1;
}

.notification-time {
    font-size: 0.8rem;
    color: gray;
}

.section-title {
    font-weight: bold;
    margin: 25px 0 10px;
    font-size: 1.2rem;
    color: #333;
}

.search-box {
    margin-bottom: 20px;
}

.seen {
    opacity: 0.6;
}

.notif-bell {
    position: relative;
    display: inline-block;
}

.notif-badge {
    position: absolute;
    top: -5px;
    right: -8px;
    font-size: 0.7rem;
    padding: 4px 6px;
}

.header-bar {
    background-color: #dc3545;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.card-custom-v {
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
}

.card-custom-v:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.card img {
    height: 160px;
    object-fit: cover;
}

.views {
    color: #dc3545;
    font-weight: bold;
}